.icon {
    display: block;
    width: 20%;
    text-align: center;
    display: table-cell;
    
  }
  
  .text {
    display: block;
    width: 80%;
    display: table-cell;
   
  }
  
  